@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:300&display=swap'); /* Article Font */
@import url('https://fonts.googleapis.com/css?family=Yellowtail&display=swap'); /* Delicious Font */
@import url('https://fonts.googleapis.com/css?family=Oswald:400,600&display=swap'); /* Chocolate Pizza */
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap'); /* SMALL FONT  */
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap'); /* Ingredients */

* {
    box-sizing: border-box;
}

body {
    max-width: 900px;
    margin: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 120px;
    margin: 30px -10px -30px 0px;
    width: 900px;
}

.logo-block {
    width: 70%;
}

.logo {
    float: left;
    height: 60px;
    margin: 0px 10px -30px 0px;
}

.delicious {
    font-family: 'Yellowtail';
    margin: 0;
    font-size: 3rem;
}

.logo-text {
    font-size: .8rem;
    margin: 0px 50px -5px 0px;
}

.hr-img {
    background-image: url('/assets/hr-img.png');
    border-image: repeat;
    height: 10px;
}

.social {
    align-self: center;
 }

 .social2 {
     margin-left: 10px;
 }

 .logo-text, .subtitle, .print {
     font-family: 'Abel';
     text-transform: uppercase;
 }

.recipe, .bio, footer {
    font-family: 'Frank Ruhl Libre';
    color: #686767;
}

.recipe {
    text-indent: 40px;
}

label {
    display: block;
    color: #686767;
}

input {
    vertical-align: bottom;
    position: relative;
}

.ingredients {
    background-image: url('/assets/list-bg.png');
    background-repeat: no-repeat;
    font-family: 'Patrick Hand';
    font-size: 1.2em;
    display: grid;
    grid-template-columns: 300px 600px;
    grid-column-gap: 60px;
    grid-template-areas: "column1 column2";
}

.left {
    grid-area: "column1";
}

.right {
    grid-area: "column2";
}

.column1, .column2 {
    margin: 50px;
}


.van {
    float: left;
}

.article-title {
    font-family: 'Oswald';
}

button {
    font-family: 'Abel';
    text-transform: uppercase;
    background: #bc7058;
    color: white;
    font-size: 20px;
    border: none;
    width: 185px;
    height: 55px;
}