@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:300&display=swap'); /* Article Font */
@import url('https://fonts.googleapis.com/css?family=Yellowtail&display=swap'); /* Delicious Font */
@import url('https://fonts.googleapis.com/css?family=Oswald:600&display=swap'); /* Chocolate Pizza */
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap'); /* SMALL FONT  */
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap'); /* Ingredients */

body {
    max-width: 920px;
    margin: auto;
}

header {
    display: grid;
}
 .social {
     display: inline;
 }

.recipe, .bio, footer {
    font-family: 'Frank Ruhl Libre';
    color: #686767;
    
}

.recipe {
    text-indent: 40px;
}

label {
    display: block;
    color: #686767;
}

input {
    vertical-align: bottom;
    position: relative;
}

.ingredients {
    background-image: url('/assets/list-bg.png');
    background-repeat: no-repeat;
    font-family: 'Patrick Hand';
    font-size: 1.2em;
    display: grid;
    grid-template-columns: 300px 600px;
    grid-column-gap: 60px;
    grid-template-areas: "column1 column2";
}

.left {
    grid-area: "column1";
}

.right {
    grid-area: "column2";
}

.column1, .column2 {
    margin: 50px;
}

.delicious {
    font-family: 'Yellowtail';
}

.van {
    float: left;
}



.subtitle {
    font-family: 'Abel';
    text-transform: uppercase;
}


.article-title {
    font-family: 'Oswald';
}

button {
    font-family: 'Abel';
    text-transform: uppercase;
    background: #bc7058;
    color: white;
    font-size: 20px;
    border: none;
    width: 185px;
    height: 55px;
}